<!DOCTYPE HTML>
<html>
<head>
    <title>PI</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=0.9, maximum-scale=2, user-scalable=yes, minimum-scale=0.5">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="Themes/Styles/table.css" rel="stylesheet">
    <link href="jquery/jquery.dataTables.min.css" rel="stylesheet">
    <script src="jquery/jquery-2.1.1.min.js"></script>
    <script src="jquery/jquery.md5.js"></script>
    <script src="jquery/jquery.form.js"></script>
    <script src="jquery/jquery.dataTables.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="lhgdialog/lhgdialog.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            #foreach( $item in $gpio)
                $("#button_update_$item").click(function () {
                    $.ajax({
                        type: "post",
                        url: "gpio.json",
                        data: {
                            "gpioid": "$item",
                            "cmd": "get",
                        },
                        timeout: 5000,
                        beforeSend: function () {
                            $.dialog.tips('命令执行中..', 600, 'loading.gif');
                        },
                        success: function (data) {
                            var jsonobjs = eval("(" + data + ")");

                            if (jsonobjs.code == "0") {

                                var state = jsonobjs.state;
                                var mode = jsonobjs.mode;

                                if (mode == "INPUT") {
                                    $("#button_mode_${item.toString()}").text("输入");
                                }
                                if (mode == "OUTPUT") {
                                    $("#button_mode_${item.toString()}").text("输出");
                                }

                                if (state == "LOW") {
                                    $("#button_state_${item.toString()}").text("低电平");
                                }
                                if (state == "HIGH") {
                                    $("#button_state_${item.toString()}").text("高电平");
                                }

                            } else {
                                alert(jsonobjs.message);
                            }
                        },
                        complete: function () {
                            $.dialog.tips('命令执行中..', 0.1, 'loading.gif');
                        },
                        error: function () {
                            $.dialog.tips('命令执行中..', 0.1, 'loading.gif');
                            alert("网络请求失败");
                        }
                    });

                });

                //调整输入输出模式
                $("#button_mode_$item").click(function () {
                    var modestr = $("#button_mode_$item").text();

                    $.ajax({
                        type: "post",
                        url: "gpio.json",
                        data: {
                            "gpioid": "$item",
                            "cmd": "setmode",
                            "mode": modestr,
                        },
                        timeout: 5000,
                        beforeSend: function () {
                            $.dialog.tips('命令执行中..', 600, 'loading.gif');
                        },
                        success: function (data) {
                            var jsonobjs = eval("(" + data + ")");

                            if (jsonobjs.code == "0") {

                                var state = jsonobjs.state;
                                var mode = jsonobjs.mode;

                                if (mode == "INPUT") {
                                    $("#button_mode_$item").text("输入");
                                }
                                if (mode == "OUTPUT") {
                                    $("#button_mode_$item").text("输出");
                                }

                                if (state == "LOW") {
                                    $("#button_state_$item").text("低电平");
                                }
                                if (state == "HIGH") {
                                    $("#button_state_$item").text("高电平");
                                }

                            } else {
                                alert(jsonobjs.message);
                            }
                        },
                        complete: function () {
                            $.dialog.tips('命令执行中..', 0.1, 'loading.gif');
                        },
                        error: function () {
                            $.dialog.tips('命令执行中..', 0.1, 'loading.gif');
                            alert("网络请求失败");
                        }
                    });
                });

                //调整电平高低
                $("#button_state_$item").click(function () {
                    var modestr = $("#button_state_$item").text();

                    $.ajax({
                        type: "post",
                        url: "gpio.json",
                        data: {
                            "gpioid": "$item",
                            "cmd": "setstate",
                            "mode": modestr,
                        },
                        timeout: 5000,
                        beforeSend: function () {
                            $.dialog.tips('命令执行中..', 600, 'loading.gif');
                        },
                        success: function (data) {
                            var jsonobjs = eval("(" + data + ")");

                            if (jsonobjs.code == "0") {

                                var state = jsonobjs.state;
                                var mode = jsonobjs.mode;

                                if (mode == "INPUT") {
                                    $("#button_mode_$item").text("输入");
                                }
                                if (mode == "OUTPUT") {
                                    $("#button_mode_$item").text("输出");
                                }

                                if (state == "LOW") {
                                    $("#button_state_$item").text("低电平");
                                }
                                if (state == "HIGH") {
                                    $("#button_state_$item").text("高电平");
                                }

                            } else {
                                alert(jsonobjs.message);
                            }
                        },
                        complete: function () {
                            $.dialog.tips('命令执行中..', 0.1, 'loading.gif');
                        },
                        error: function () {
                            $.dialog.tips('命令执行中..', 0.1, 'loading.gif');
                            alert("网络请求失败");
                        }
                    });
                });
            #end

            //全部刷新
            $("#button_update_all").click(function () {
                $.ajax({
                    type: "post",
                    url: "gpio.json",
                    data: {
                        "cmd": "getall",
                    },
                    timeout: 5000,
                    beforeSend: function () {
                        $.dialog.tips('命令执行中..', 600, 'loading.gif');
                    },
                    success: function (data) {
                        var jsonobjs = eval("(" + data + ")");

                        if (jsonobjs.code == "0") {

                            for (var i = 0; i < jsonobjs.allgpio.length; i++) {

                                var gpioname = jsonobjs.allgpio[i].gpioname;
                                var state = jsonobjs.allgpio[i].state;
                                var mode = jsonobjs.allgpio[i].mode;

                                if (mode == "INPUT") {
                                    $("#button_mode_" + gpioname).text("输入");
                                }
                                if (mode == "OUTPUT") {
                                    $("#button_mode_" + gpioname).text("输出");
                                }
                                if (state == "UNKNOW") {
                                    $("#button_mode_" + gpioname).text("未知");
                                }

                                if (state == "LOW") {
                                    $("#button_state_" + gpioname).text("低电平");
                                }
                                if (state == "HIGH") {
                                    $("#button_state_" + gpioname).text("高电平");
                                }
                                if (state == "UNKNOW") {
                                    $("#button_state_" + gpioname).text("未知");
                                }
                            }

                        } else {
                            alert(jsonobjs.message);
                        }
                    },
                    complete: function () {
                        $.dialog.tips('命令执行中..', 0.1, 'loading.gif');
                    },
                    error: function () {
                        $.dialog.tips('命令执行中..', 0.1, 'loading.gif');
                        alert("网络请求失败");
                    }
                });
            });
        });

    </script>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-body">


        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#panel1" data-toggle="tab">INFO</a></li>
            <li role="presentation"><a href="#panel2" data-toggle="tab">GPIO</a></li>
        </ul>
        <p></p>

        <div class="tab-content">


            <div class="tab-pane active in" id="panel1">
                <div class="panel panel-default">
                    <div class="panel-body">

                        #foreach($group in $info.keySet())

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">$group</h3>
                                </div>
                                <div class="panel-body">

                                    <table class="table table-bordered table-condensed" id="info" style="width: auto">
                                        <thead>
                                        <tr>
                                            <th>属性</th>
                                            <th>值</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            #foreach($item in $info.get($group).keySet())
                                            <tr>
                                                <td>$item</td>
                                                <td>$info.get($group).get($item)</td>
                                            </tr>
                                            #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        #end
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="panel2">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <table class="table table-bordered" style="width: auto">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>模式</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><label class="control-label">全部</label></td>

                                <td colspan="3">
                                    <button type="button" class="btn btn-primary" id="button_update_all">刷新</button>
                                </td>
                            </tr>
                                #foreach($item in $gpio)
                                <tr>
                                    <td><label class="control-label">${item}</label></td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                                id="button_mode_${item}">
                                            未知
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success"
                                                id="button_state_${item}">
                                            未知
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary"
                                                id="button_update_${item}">
                                            刷新
                                        </button>
                                    </td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
