<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    #if($islogin)
    <p>Hello</p>
    #else
    <form action="/Login" method="post">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="submit"/>
    </form>
    #end
</body>
</html>